@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --bg: #FAFAFA;
}

.dark {
  --bg: #202C37;
}

body {
  background-color: var(--bg);
}

